@font-face {
    font-family: 'Preeti'; /* Name of the font family */
    src: url('../font/PreetiFont.otf') format('woff2'), /* URL to your font file */
         url('../font/PreetiFont.otf') format('woff'); /* You can include multiple font file formats for browser compatibility */
}
.preeti {
    font-family: 'Preeti' !important;
}
#englishInput{
    background-color: #e6e6e6 !important;
    padding: 20px;
    border: none;
    width: 100%;
}
